body {background-color: aquamarine; text-align: justify;}
h1 { text-align: center;background-color:aqua;color: aliceblue;}
h3 {text-align: justify;}
b{color: blue;font-size: medium;}
i {color: blanchedalmond;font-size: medium;}