body {background-color: aquamarine; text-align: justify;}
h1 { text-align: center;background-color:aqua;color: rgb(126, 147, 165);}
h3 {text-align: justify;}
b{color: blue;font-size: medium;}
i {color: rgb(196, 171, 134);font-size: medium;}